.register{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // 登录盒子
    .register-container{
        width: 480px;
        min-height: 302px;
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        z-index: 10;
        border-radius: 4px;
        padding: 20px 45px 0 10px;
        box-shadow: 0 2px 21px 0 rgba(255, 255, 255, 0.8);

        // 登录标题
        .title{
            margin: 10px 0 ;
            text-align: center;
            font-size: 20px;
        }

        .code-wrapper{
            .button{
                height: 0;
            }
            .btn-text{
                height: 31px;
                line-height: 31px;
                margin-top: 6px;
                margin-left: 20px;
            }
        }

        .submit-wrapper{
            .button{
                width: 292px;
                margin-left: 93px;
            }
        }
        

        .user-input{
            margin-top: 20px;
        }

        .login-btn{
            width: 100%;
            margin-top: 30px;
        }

    }
}