{
    "presets": [
        ["es2015",{ "loose": false } ],
        "stage-1",
        "react"
    ],
    "compact": false,
    "plugins": ["transform-decorators-legacy",
                "react-hot-loader/babel",
                "transform-es3-member-expression-literals",
                "transform-async-to-generator",
                "transform-es3-property-literals"]
}
