
@-webkit-keyframes shootingAnimation {
    50% {
        transform: scale(1) rotate(-45deg) translate(0px, 0px)
    }

    100% {
        transform: scale(0.5) rotate(-45deg) translate(0px, -1px)
    }
}

@keyframes shootingAnimation {
    50% {
        transform: scale(1) rotate(-45deg) translate(0px, 0px)
    }

    100% {
        transform: scale(0.5) rotate(-45deg) translate(0px, -1px)
    }
}

@-webkit-keyframes starAnimation {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0)
    }

    50% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-200px, 200px, 0)
    }

    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-300px, 300px, 0)
    }
}

@keyframes starAnimation {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0)
    }

    50% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-200px, 200px, 0)
    }

    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-300px, 300px, 0)
    }
}

@-webkit-keyframes starAnimationLong {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0)
    }

    50% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-400px, 400px, 0)
    }

    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-600px, 600px, 0)
    }
}

@keyframes starAnimationLong {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0)
    }

    50% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-400px, 400px, 0)
    }

    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-600px, 600px, 0)
    }
}

.index{
    width: 100%;

    .index-container{
        width: 1366px;
        min-height: 768px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    // 主页banner
    .banner{
        position: relative;
        height: 400px;
        z-index: 2;
        min-width: 1178px;
        margin: 0 auto;
        text-align: center;
        padding-top: 200px;

        // 搜索按钮
        .search{
            .search-input{
                width: 800px;
                background: rgba(255,255,255,.5);
                font-size: 16px;
                padding: 9px 15px 9px 40px;
                border-radius: 20px;
            }
        }

        .banner-text{
            font-size: 32px;
            margin-bottom: 0;
        }

        .banner-text2{
            font-size: 16px;
            padding-left: 178px;
        }
    }

    // 文章类型模块
    // <div className="article-classify">
    // <p className="article-title">止境</p>
    .article-classify{
        position: relative;
        margin-top: 100px;
        width: 100%;
        height: 300px;

        // 标题
        .article-title{
            height: 40px;
            font-size: 20px;
            color: #000;
            padding-left: 20px;
            border-bottom: 1px solid rgba(0,0,0,.2);
        }


        // 轮播模块
        .swiper-container {
            width: 100%;
            height: 100%;
            padding: 0 20px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #c0f;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}