
.edit-article{
	width: 100%;

	.edit-article-wrapper{
		width: 1200px;
		margin: 40px auto 0;
		min-height: 600px;
		border: 1px solid #666;
		position: relative;

		// 文章标题
		.title-wrapper{
			width: 600px;
			height: 42px;
			margin: 0 auto;
			text-align: center;
			line-height: 42px;
			border-radius: 3px;
			position: relative;
			transition: all .3s;
			cursor: pointer;

			.title-input{
				width: 602px;
				height: 104%;
				text-align: center;
				color: #333;
				background: transparent;
				line-height: 42px;
				border-radius: 3px;
				position: absolute;
				transition: all 0.3s;
				border: 1px dashed #CCC;
				top: -1px;
				left: -1px;
				z-index: 200;
				font-size: 18px;
			}

			&:hover{
				background: transparent;
				color: #ccc;

				.title-input{
					border: 1px solid transparent;
				}
			}

			&:hover:before{
				width: 100%;
			}
			&:hover:after {
				height: 100%;
			}

			&:before, &:after {
				content: '';
				border-style: solid;
				position: absolute;
				z-index: 5;
				border-radius: 3px;
				box-sizing: content-box;
				border-color: #ccc;
				transition: all 0.4s;
			}

			&:before{
				width: 0;
				height: 100%;
				border-width: 1px 0 1px 0;
				top: -1px;
				right: 0;
				-webkit-transition-delay: 0.05s;
				transition-delay: 0.05s;
			}
			&:after {
				width: 100%;
				height: 0;
				border-width: 0 1px 0 1px;
				bottom: 0;
				left: -1px;
			}

		}

		// 选择文章类型
		.article-type{
			float: right;
			margin: -22px 40px 0 0;

			.article-type-item{
				width: 180px;
				margin-bottom: 8px;
			}

			.article-date{
				width: 100%;
			}
		}

		// 富文本编辑器
		.toolbar {
			border-bottom: 1px solid #ccc;
			margin-bottom: 20px;
        }
		.editor-wrapper{
			width: 100%;
			min-height: 600px;
			margin-top: 58px;
			border-top: 1px solid #ccc;
			z-index: 0!important;

			.w-e-text{
				min-height: 600px;
				padding: 8px 40px;
			}
		}
	}

	// 保存按钮
	.save-edit{
		position: fixed;
		right: 50px;
		bottom: 50px;
		cursor: pointer;
		z-index: 100;
		width: 40px;
		height: 40px;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		color: #fff;
		font-size: 24px;
	}

	.container{
		width: 1200px;
		margin: 0 auto;
	}
	.submit-article{
		width: 300px;
		float: right;

	}

}
